*{
    margin : 0px;
}
.bg_container{
    background-image: url("trip.jpg");
    background-repeat: no-repeat;
    height : 100vh;
    background-size: 100%;
}
.trip{
    font-size: large;
    text-align: center;
    background-color: rgba(212, 58, 11, 0.97);
    padding : 30px;
    border-top-right-radius: 50px ;
    border-top-left-radius: 50px;
    padding: 10px;
}
.trip p{
    padding: 10px;
}
.button{
    height :36px;
    width : 138px;
    background-color: aquamarine;
    color :black;
    border-radius: 40px;
    border-width: 3px;
    border-style:solid;
    border-top-right-radius: 50px ;
    border-top-left-radius: 50px;
}
.button1{
    background-color: rgb(166, 227, 11);
}